

.contact__content{
    @include colorTheme--base;
    margin-bottom: 15px;
    padding: 30px;

    .contact__jumbo{
        @include jumboStyle--base;
    }

    .form-section{
        margin-top: 60px;
    }
}