@import "_helpers/mixins";
@import "_helpers/variables";


main[name="indexPageContent"]{
    padding: 0px 15px;
        @include mediaQ(map-get($breakpoint, sm)){
            padding: 0px;
            margin-bottom: 15px;
        }

    section{
        padding: 0px;
        margin-bottom: 15px;
        
            img{border: 10px solid map-get($map: $color, $key: light);}
    }

    .indexContent__topImg{
        margin: 20px 0px;
            @include mediaQ(map-get($breakpoint, sm)){
                overflow: hidden;
                margin: 0px;
                max-height: 530px;
                border: 10px solid map-get($map: $color, $key: light);

                img{
                    @include posCenterX(relative);
                    border: none;
                    max-width: 204%;
                        @include mediaQ(map-get($breakpoint, lg)){max-width: 202.5%;}
            }
        }
    }

    .midContent__topImg{
        margin-bottom: 20px;
            @include mediaQ(map-get($breakpoint, sm)){margin-bottom: 10px;}
    }

    .indexContent__midSection{
        @include mediaQ(map-get($breakpoint, sm)){
            padding: 0px 10px;
            margin: 0px;
        }
    }

    .indexContent__secondary-title{
        @include colorTheme--contrast;
        @include posCenterX(absolute);
        font-size: map-get($map: $font-size, $key: xlg);
        display: inline-block;
        padding: 15px;
        top: 40%;
        margin: 0px;
        width: 75%;
        outline: 1px solid white;
        outline-offset: -7px;
            @include mediaQ(map-get($breakpoint, sm)){
                font-size: map-get($map: $font-size, $key: md);
                width: 60%;
                top: 33%;
                padding: 15px;
                    @include mediaQ(map-get($breakpoint, md)){
                        font-size: map-get($map: $font-size, $key: lg);
                        padding: 20px;
                            @include mediaQ(map-get($breakpoint, lg)){padding: 30px;}
            }
        }
    }

    .indexContent__textbox{
        @include colorTheme--base;
        padding: 30px;
        margin: 20px 0px;

            @include mediaQ(map-get($breakpoint, sm)){
                margin: 0px;
                padding: 19px;

                    @include mediaQ(map-get($breakpoint, md)){
                        height: 422px;
                        padding: 30px;

                        @include mediaQ(map-get($breakpoint, lg)){height: 510px;}
                }
            }

            article{
                @include mediaQ(map-get($breakpoint, md)){
                    @include posCenter--custom(relative, translateY(-60%)){
                        top: 50%;
                    }
                }
            }

            h2{
                margin: 20px 0px;

                    @include mediaQ(map-get($breakpoint, sm)){
                        font-size: map-get($map: $font-size, $key: md);
                        margin-top: 0px;
                        margin-bottom: 10px;
                            @include mediaQ(map-get($breakpoint, lg)){font-size: 36px;}
                }
            }

            p{
                @include mediaQ(map-get($breakpoint, sm)){
                    font-size: map-get($map: $font-size, $key: base);
                        @include mediaQ(map-get($breakpoint, md)){
                            margin: 30px 0px;
                            word-spacing: 1px;
                            line-height: 1.6em;
                                @include mediaQ(map-get($breakpoint, lg)){margin: 60px 0px;}
                    }
                }
            }

            div{
                margin: 20px 0px;
                font-family: $font-family-handwriting;
                font-weight: bold;
                font-size: map-get($map: $font-size, $key: sm);

                    @include mediaQ(map-get($breakpoint, sm)){
                        margin: 0px;
                        font-size: map-get($map: $font-size, $key: xs);
            }
        }
    }
}