



figure[name="primaryIndexImg"]{
    background-image: url("../images/baking-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

figure[name="secondaryIndexImg"]{
    background-image: url("../images/blueberry-muffin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

figure[name="thirdIndexImg"]{
    background-image: url("../images/baking-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

