


main[name="indexPageContent"]{
    padding: 0px 15px;

    section{
        padding: 0px;
        margin-bottom: 15px;

        img{
            border: 10px solid map-get($map: $color, $key: light);
        }
    }

    .indexContent__topImg{
        margin: 20px 0px;
    }

    .midContent__topImg{
        margin-bottom: 20px;
    }

    .indexContent__secondary-title{
        background-color: map-get($map: $color, $key: base);
        color: map-get($map: $color, $key: light);
        display: inline-block;
        padding: 15px;
        position: absolute;
        left: 50%;
        top: 36%;
        transform: translateX(-50%);
        margin: 0px;
        font-size: 36px;
        width: 75%;
        outline: 1px solid white;
        outline-offset: -10px;
        font-family: $font-family-heading;
        
    }

    .indexContent__textbox{
        background-color: map-get($map: $color, $key: light);
        color: map-get($map: $color, $key: dark);
        padding: 15px;
        margin: 20px 0px;

            h1{
                margin: 20px 0px;
                font-family: $font-family-heading;
            }

            p{
                font-family: $font-family-base;
            }

            div{
                margin: 20px 0px;
                font-family: $font-family-handwriting;
                font-weight: bold;
                font-size: 24px;
            }
    }
}