
//         ========  Helpers ========
/*
    =============   Contents   =============

             A:   Media queries
             B:   Color mixins
             C:   Position mixins
             D:   Default font-styles
             E:   jumbotron custom Default style
             F:   menu food category heading styles
             G:   


    ========================================
*/


// media queries

$breakpoint:(
    sm: 768px,
    md: 992px,
    lg: 1200px
);

@mixin mediaQ($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    };
}

// Color mixins

@mixin colorTheme($background-color, $color){
    background-color: $background-color;
    color: $color;
}

@mixin colorTheme--base(){
    background-color: map-get($map: $color, $key: light);
    color: map-get($map: $color, $key: dark);
}

@mixin colorTheme--invert(){
    background-color: map-get($map: $color, $key: dark);
    color: map-get($map: $color, $key: light);
}

@mixin colorTheme--contrast(){
    background-color: map-get($map: $color, $key: base);
    color: map-get($map: $color, $key: light);
}

// position mixins

@mixin posCenterX($position){
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin posCenterY($position){
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin posCenter--custom($position, $translate){
    position: $position;
    transform: $translate;
    @content;
}

// Default font-styles

@mixin font-styles--base{

    h1{
        font-family: $font-family-logo;
    }

    h2{
        font-family: $font-family-heading;
    }

    h3{
        font-family: $font-family-heading;
    }

    h4{
        font-family: $font-family-heading;
    }

    p{
        font-family: $font-family-base;
    }

    li{
        font-family: $font-family-base;
    }

    //a{ 
       // font-family: $font-family-heading;
      //  font-weight: lighter;
   // }
}

// jumbotron custom Default style

@mixin jumboStyle--base{
    @include colorTheme--base;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;

    h3{
        @include colorTheme--contrast;
        @include dropshadowOffset--base;
        font-size: map-get($map: $font-size, $key: md);
        display: inline-block;
        padding: 20px 60px;
        margin: 0px;
        outline: 1px solid white;
        outline-offset: -7px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;

            @include mediaQ(map-get($breakpoint, sm)){
                padding: 30px 60px;
            }
    }

    p{
        font-size: map-get($map: $font-size, $key: base);
        margin: 40px 0px;
        word-spacing: 1px;
        line-height: 1.6em;

            @include mediaQ(map-get($breakpoint, md)){
                padding: 0px 80px;

                    @include mediaQ(map-get($breakpoint, md)){
                        padding: 0px 160px;
                    }
            }
    }
}

// menu food category heading styles

@mixin menuFoodTitle(){
    h3{
        margin-top: 60px;

            @include mediaQ(map-get($breakpoint, sm)){
                margin: 40px 0px 15px 0px;
                border-top: 2px solid rgba(#2B0F26, 0.5);
                border-bottom: 2px solid rgba(#2B0F26, 0.5);
                padding: 25px 0px 20px 0px;
            }
    }

    .menu__item-text{
        margin-bottom: 60px;
            @include mediaQ(map-get($breakpoint, sm)){
                font-style: italic;
            }
    }
}

// container base style mixin 

@mixin containerStyle--base($padding : null){
    @include colorTheme--base;
    margin: 0px 15px;
    padding: 0px 40px;
    padding-bottom: $padding;

        @include mediaQ(map-get($breakpoint, sm)){
            margin: auto;
            margin-bottom: 15px;
            padding: 0px 60px;
            padding-bottom: $padding;
        }
}
// order online, left aside nav-pills hover style

@mixin navPillsStyle--base(){
    .nav--custom>li>a{
        font-family: $font-family-base;
    }

    .nav--custom>li>a:hover{
        background-color: rgba(242, 230, 232, 0.3);
        border-radius: 0px;
    }

    .nav--custom>li>a:focus{
        background-color: rgba(242, 230, 232, 0.2);
    }
}

// li, a tags hover + focus styles

@mixin burgerDropdownStyle--base(){
    .nav--custom>li>a{
        font-family: $font-family-base;
    }

    .nav--custom>li>a:focus, .nav--custom>li>a:hover{
        background-color: map-get($map: $color, $key: dark);
    }
}

// drop shadows 

@mixin dropshadowOffset--base(){
-webkit-box-shadow: 0px 1px 2px 0px rgba(43,15,38,0.63);
-moz-box-shadow: 0px 1px 2px 0px rgba(43,15,38,0.63);
box-shadow: 0px 1px 2px 0px rgba(43,15,38,0.63);


}

@mixin dropshadowInset--base(){
    -webkit-box-shadow: inset 0px 1px 6px -2px rgba(43,15,38,0.71);
    -moz-box-shadow: inset 0px 1px 6px -2px rgba(43,15,38,0.71);
    box-shadow: inset 0px 1px 6px -2px rgba(43,15,38,0.71);
}