




//======== Colors =========

$color: (
    dark: #2B0F26,
    base: #9F3140,
    light: #F2E6E8
);

//======== Font-Families =========

$font-family-logo: 'Lobster', cursive;
$font-family-heading: 'Abril Fatface', cursive;
$font-family-base: 'Open Sans', sans-serif;
$font-family-handwriting: 'Sacramento', cursive;