
//         ========  Helpers ========
/*
    =============   Contents   =============

             A:   Colors
             B:   Font-Families
             C:   Font-size
             D:   
             E:   
             F:   
             G:   


    ========================================
*/

//======== Colors =========

$color: (
    dark: #2B0F26,
    base: #9F3140,
    light: #F2E6E8
);

//======== Font-Families =========

$font-family-logo: 'Lobster', cursive;
$font-family-heading: 'Abril Fatface', cursive;
$font-family-base: 'Open Sans', sans-serif;
$font-family-handwriting: 'Sacramento', cursive;

//======== Font-size =========

$font-size: (
    xxlg: 48px,
    xlg: 36px,
    lg: 32px,
    md: 28px,
    sm: 24px,
    xs: 20px,
    xxs: 16px,
    base: 14px
)