@import "_helpers/variables";
@import "_helpers/mixins";

//          ========  Layout =========

.siteFooter{
    @include colorTheme--base();
    padding: 20px;
    padding-top: 40px;
    margin: 5px 15px 40px 15px;
    
        @include mediaQ(map-get($breakpoint, sm)){
            margin: auto;
            padding: 30px;
            margin-bottom: 160px;
                @include mediaQ(map-get($breakpoint, md)){
                    margin-bottom: 40px;
            }
        }

    h3{
        font-weight: lighter;
        margin-top: 0px;
        
        @include mediaQ(map-get($breakpoint, sm)){
            font-size: map-get($map: $font-size, $key: xs);
            margin-top: 0px;
                @include mediaQ(map-get($breakpoint, md)){
                    font-size: 24px;
                    margin-bottom: 30px;
            }
        }
    }

    p{
        @include mediaQ(map-get($breakpoint, sm)){
            margin-bottom: 0px;
        }
    }

    article{padding: 10px;}

    article:not(:last-child){
        @include mediaQ(map-get($breakpoint, sm)){
            border-right: 1px dotted map-get($map: $color, $key: dark);
        }
    }

    .socialMedia{
        font-size: map-get($map: $font-size, $key: sm);
            @include mediaQ(map-get($breakpoint, sm)){
                font-size: map-get($map: $font-size, $key: xs);
                @include mediaQ(map-get($breakpoint, md)){
                    font-size: map-get($map: $font-size, $key: sm);
            }
        }
    }

    .copyrightText{
        padding-top: 15px;
        font-size: map-get($map: $font-size, $key: base);
    }
}