
//          ========  Layout =========

.icon{font-size: map-get($map: $font-size, $key: sm);}

// small screen menu/nav //
.dropdown-menu>li>a{color: map-get($map: $color, $key: light);}


.dropdown-menu{
    @include colorTheme--invert();
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 330px;
    padding: 0;
    margin: 0;
    font-size: map-get($map: $font-size, $key: base);
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: $font-family-base;
    border: 1px solid map-get($map: $color, $key: light);

    li:not(:first-child){border-top: 1px solid map-get($map: $color, $key: light);}

    li a{padding: 15px}
}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    @include colorTheme--contrast;
    text-decoration: none;
    outline: 0;
}

// large screen menu/nav //
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    @include colorTheme--invert;
    border-radius: 0px;
}

.header .header__navbar--base a {
    @include colorTheme--base;
    font-size: 16px;
    border-radius: 0px;
    
    &:hover{@include colorTheme--contrast;}

    &:focus{@include colorTheme--base;}
}

.nav-justified>.dropdown .dropdown-menu {
    margin-top: 10px;
    border-radius: 0px;
    min-width: 230px;
    border: none;
}



