
@import "_helpers/mixins";
@import "_helpers/variables";

//          ========  Layout =========

.header{
    // small screen styles //
    .header-inner--xs{
        padding: 0px;
        margin: 15px 0px;
            @include mediaQ(map-get($breakpoint, sm)){display: none;}
    }

    .header__title--xs{
        @include colorTheme--base();
        font-family: $font-family-logo;
        display: inline-block;
        margin: 0px;
        padding: 15px;
        outline: 1px solid map-get($map: $color, $key: dark);
        outline-offset: -5px;
    }

    .burgerMenu{
        display: inline;
        float: right;
    }

    .icon-wrapper{
        @include colorTheme--base();
        padding: 5px 10px;
        text-align: center;
    }

    .icon-navicon{ 
        font-size: map-get($map: $font-size, $key: lg);
        position: relative;
        height: 20px;
    }
    // END //

    // larger screen styles //
    .header-inner--base{
        @include colorTheme--base();
        @include posCenterX(relative);
        font-family: $font-family-logo;
        padding: 8px;
        display: inline-block;
        margin: 20px -15px;

        a{
            text-decoration: none;
            outline: 1px solid black;
            outline-offset: 4px;
        }
    }

    .header__title--base{
        @include colorTheme--base();
        font-size: map-get($map: $font-size, $key: xxlg);
        margin-top: 15px;
    }
       
    .header__navbar--base{margin-bottom: 20px;}
}