
@import "_helpers/mixins";
@import "_helpers/variables";


.header{

    // small screen styles //
    .header-inner--xs{
        padding: 0px;
        margin: 15px 0px;

            @include mediaQ(map-get($breakpoint, sm)){
                display: none;
            }
    }

    .header__title--xs{
        background-color: map-get($map: $color, $key: light);
        color: map-get($map: $color, $key: dark);
        font-family: $font-family-logo;
        padding: 8px;
        display: inline-block;
        margin: 0px;

    }

    .burgerMenu{
        display: inline;
        float: right;
    }

    .icon-wrapper{
        padding: 5px 10px;
        text-align: center;
        background-color: map-get($map: $color, $key: light);
    }

    .icon-navicon{
        color: map-get($map: $color, $key: dark);
        font-size: 32px;
        position: relative;
        
        height: 20px;
    }
    // END //

    // larger screen styles //
    .header-inner--base{
        background-color: map-get($map: $color, $key: light);
        font-family: $font-family-logo;
        padding: 8px;
        display: inline-block;
        margin: 20px -15px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        a{
            text-decoration: none;
            outline: 1px solid black;
            outline-offset: 4px;
        }
    }

    .header__title--base{
        margin-top: 15px;
        font-size: 48px;
        color: map-get($map: $color, $key: dark);
    }
       

    .header__navbar--base{
        background-color: map-get($map: $color, $key: light);
        margin-bottom: 20px;

        a{
            color: map-get($map: $color, $key: dark);
            font-family: $font-family-heading;
            font-weight: lighter;
        }
    }
}